@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  box-sizing: border-box;
  color: #979797;
  font-family: 'Roboto', sans-serif;
}

/* NavBar CSS */

.navBar {
  background-color: #d8d8d8;
  border: 1px black solid;
  margin: 10px;
  padding: 10px;
  height: 3em;
  color: #979797;
  font-size: 1.5em;
  display: flex;
  align-content: center;
  align-items: center;
}

.navItem {
  display: flex;
  clear: both;
  float: right;
  text-align: justify;
}

.navItem > li {
  display: inline-block;
}

a {
  color: #979797;
  text-decoration: none;
}

li {
  list-style: none;
}

/* Home Page CSS */

.container {
  display: grid;
  grid-template-rows: 6em 10em 5em;
}

.jumbotron {
  grid-column-start: 2;
  grid-row-start: 2;
  background-color: #d8d8d8;
  height: 8em;
  width: 40em;
  text-align: center;
  border: 1px black solid;
  border-radius: 10px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

/* User Page CSS */

.imgBox {
  height: 235px;
  width: 196px;
  background-color: #d8d8d8;
}

.userContainer {
  margin: 0% 5% 5% 5%;
  padding: 5%;
}

.userShow {
  display: flex;
  margin: 5%;
}

.showTitle {
  margin: 5%;
}

/* Users Page CSS */

.userList {
  font-weight: bold;
}

.userList:before {
  content: "-";
  text-indent: 5px;
}
