@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import "./stylesheets/navbar.css";
@import "./stylesheets/main.css";
@import "./stylesheets/user.css";
@import "./stylesheets/lists.css";
@import "./stylesheets/postShow.css";
@import "./stylesheets/error.css";
@import "./stylesheets/show.css";
@import "./stylesheets/comments.css";

body {
  box-sizing: border-box;
  color: #979797;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 3px;
}
