.commentForm,
.comment,
#commentsHeader {
  margin: 5%;
}

.commentBody {
  width: 20em;
  border-radius: 5px;
  font-size: 1.5em;
  background-color: white;
  color: #979797;
}

.commentButton {
  background-color: #d8d8d8;
  text-align: left;
  border-radius: 5px;
  border: 1px #979797 solid;
  color: #979797;
  font-weight: bold;
  padding-left: 10px;
  text-align: left;
}

.commentStats {
  font-size: 0.8em;
}
