/* Lists CSS */

.listContainer {
  margin: 0% 5% 5% 5%;
  padding: 5%;
}

.list {
  font-weight: bold;
  font-size: 1.25em;
  padding: 2px;
  letter-spacing: 5px;
}

.list:before {
  content: "- ";
}
