/* User Page CSS */

.imgBox {
  height: 235px;
  width: 196px;
  background-color: #d8d8d8;
  border: 1px #979797 solid;
  overflow: hidden;
}

.userShow {
  display: flex;
  margin: 5%;
}

.showText {
  margin: 5%;
}

.addShowLink {
  background-color: #d8d8d8;
  border: 1px #979797 solid;
  margin-left: 10%;
  padding: 5px;
}
